In [1]:
import pandas as pd

1. самые продающие магазины / Тип магазина
2. самые покупающие / прибыльные регионы / страны / города / клиенты
3. статанализ по продажам, распределение
4. самые продающиеся модели / категории
5. динамика по месяцам, кварталам, годам
6. критерии: продажи, прибыль, количество продаж, количество проданных товаров, средний чек, категории товара

In [2]:
data = pd.read_excel('Elmikeev_test.xlsx', sheet_name=None)

In [3]:
data.keys()

dict_keys(['СПР_территории', 'Продажи', 'СПР_Магазины', 'СПР_Календарь', 'СПР_товар', 'СПР_клиент'])

In [56]:
data['Продажи'].columns

Index(['ИД_Заказа', 'Ключ_Магазин', 'Ключ_Клиент', 'Ключ_Номенклатура',
       'Дата заказа', 'Дата получения', 'Дата отправки', 'Ключ_территория',
       'Количество, шт.', 'Цена, шт', 'Полная стоимость', 'Сидка,%',
       'Себестоимость', 'Общая стоимость, руб', 'Выручка итоговая'],
      dtype='object')

In [5]:
data['СПР_территории'].dtypes

Ключ_территория    float64
Регион              object
Страна              object
Группа              object
dtype: object

In [6]:
data['СПР_Магазины'].dtypes

Ключ_Магазин    float64
ИД Магазина      object
Тип магазина     object
Магазин          object
Город            object
Область          object
Регион           object
Почтовый код     object
dtype: object

In [7]:
data['СПР_товар'].dtypes

Ключ_номенклатура    float64
Артикул               object
Номенклатура          object
Закупка, руб         float64
Цвет                  object
Себестоимость        float64
Модель                object
Субкатегория          object
Категория             object
dtype: object

In [8]:
data['СПР_Календарь'].dtypes

Ключ_Дата      float64
Дата           float64
Год             object
Квартал         object
Месяц           object
Полная дата     object
Ключ_Месяц     float64
dtype: object

In [9]:
data['СПР_клиент'].dtypes

Ключ_клиент     float64
ИД клиента       object
Клиент           object
Город            object
Область          object
Регион           object
Почтовый код     object
dtype: object

In [10]:
summary = data['Продажи']

In [11]:
summary.shape

(121253, 15)

In [12]:
summary = summary.merge(data['СПР_клиент'], left_on='Ключ_Клиент', right_on='Ключ_клиент')

In [13]:
summary.shape

(121253, 22)

In [14]:
summary = summary.merge(data['СПР_территории'], left_on='Ключ_территория', right_on='Ключ_территория')

In [15]:
summary.shape

(121253, 25)

In [16]:
summary = summary.merge(data['СПР_Магазины'], left_on='Ключ_Магазин', right_on='Ключ_Магазин')

In [17]:
summary.shape

(121253, 32)

In [18]:
summary = summary.merge(data['СПР_товар'], left_on='Ключ_Номенклатура', right_on='Ключ_номенклатура')

In [19]:
summary.shape

(121253, 41)

In [20]:
data['СПР_Календарь'].head(1)

    Ключ_Дата     Дата     Год    Квартал     Месяц   Полная дата  Ключ_Месяц
0  20170701.0  42917.0  FY2018  FY2018 Q1  2017 Jul  2017 Jul, 01    201707.0

In [21]:
summary.dtypes

ИД_Заказа               float64
Ключ_Магазин            float64
Ключ_Клиент             float64
Ключ_Номенклатура       float64
Дата заказа             float64
Дата получения          float64
Дата отправки           float64
Ключ_территория         float64
Количество, шт.         float64
Цена, шт                float64
Полная стоимость        float64
Сидка,%                 float64
Себестоимость_x         float64
Общая стоимость, руб    float64
Выручка итоговая        float64
Ключ_клиент             float64
ИД клиента               object
Клиент                   object
Город_x                  object
Область_x                object
Регион_x                 object
Почтовый код_x           object
Регион_y                 object
Страна                   object
Группа                   object
ИД Магазина              object
Тип магазина             object
Магазин                  object
Город_y                  object
Область_y                object
Регион                   object
Почтовый код_y           object
Ключ_номенклатура       float64
Артикул                  object
Номенклатура             object
Закупка, руб            float64
Цвет                     object
Себестоимость_y         float64
Модель                   object
Субкатегория             object
Категория                object
dtype: object

In [42]:
summary.loc[:, ['Область_x', 'Регион_x', 'Регион_y', 'Группа', 'Область_y', 'Регион']].query('Область_x != "[Not Applicable]"')

,Область_x,Регион_x,Регион_y,Группа,Область_y,Регион
279,England,United Kingdom,United Kingdom,Europe,[Not Applicable],[Not Applicable]
280,England,United Kingdom,United Kingdom,Europe,[Not Applicable],[Not Applicable]
281,England,United Kingdom,United Kingdom,Europe,[Not Applicable],[Not Applicable]
282,England,United Kingdom,United Kingdom,Europe,[Not Applicable],[Not Applicable]
283,England,United Kingdom,United Kingdom,Europe,[Not Applicable],[Not Applicable]
...,...,...,...,...,...,...
116882,New South Wales,Australia,Australia,Pacific,[Not Applicable],[Not Applicable]
116883,New South Wales,Australia,Australia,Pacific,[Not Applicable],[Not Applicable]
116884,New South Wales,Australia,Australia,Pacific,[Not Applicable],[Not Applicable]
116885,Queensland,Australia,Australia,Pacific,[Not Applicable],[Not Applicable]
116886,New South Wales,Australia,Australia,Pacific,[Not Applicable],[Not Applicable]

In [43]:
summary.drop(columns=['Почтовый код_y', 'Почтовый код_x', 'Ключ_клиент', 'Ключ_номенклатура', 
                      'Сидка,%', 'Артикул', 'Закупка, руб', 'Цвет'], inplace=True)

In [46]:
summary.head(1)

,ИД_Заказа,Ключ_Магазин,Ключ_Клиент,Ключ_Номенклатура,Дата заказа,Дата получения,Дата отправки,Ключ_территория,"Количество, шт.","Цена, шт",...,Магазин,Город_y,Область_y,Регион,Номенклатура,Цвет,Себестоимость_y,Модель,Субкатегория,Категория
0,71938011.0,16.0,-1.0,547.0,20200615.0,20200625.0,NaN,10.0,5.0,48.594,...,Bulk Discount Store,London,England,United Kingdom,HL Road Pedal,Silver/Black,80.99,HL Road Pedal,Pedals,Components

In [51]:
summary.columns

Index(['ИД_Заказа', 'Ключ_Магазин', 'Ключ_Клиент', 'Ключ_Номенклатура',
       'Дата заказа', 'Дата получения', 'Дата отправки', 'Ключ_территория',
       'Количество, шт.', 'Цена, шт', 'Полная стоимость', 'Себестоимость_x',
       'Общая стоимость, руб', 'Выручка итоговая', 'ИД клиента', 'Клиент',
       'Город_x', 'Область_x', 'Регион_x', 'Регион_y', 'Страна', 'Группа',
       'ИД Магазина', 'Тип магазина', 'Магазин', 'Город_y', 'Область_y',
       'Регион', 'Номенклатура', 'Цвет', 'Себестоимость_y', 'Модель',
       'Субкатегория', 'Категория'],
      dtype='object')

In [55]:
summary['Тип магазина'].unique()

array(['Value Added Reseller', 'Warehouse', 'Specialty Bike Shop',
       '[Not Applicable]'], dtype=object)

In [23]:
summary.loc[:, ['Город_x', 'Область_x', 'Регион_x', 'Город_y', 'Область_y', 'Регион_y']]

,Город_x,Область_x,Регион_x,Город_y,Область_y,Регион_y
0,[Not Applicable],[Not Applicable],[Not Applicable],London,England,United Kingdom
1,[Not Applicable],[Not Applicable],[Not Applicable],London,England,United Kingdom
2,[Not Applicable],[Not Applicable],[Not Applicable],London,England,United Kingdom
3,[Not Applicable],[Not Applicable],[Not Applicable],Liverpool,England,United Kingdom
4,[Not Applicable],[Not Applicable],[Not Applicable],Liverpool,England,United Kingdom
...,...,...,...,...,...,...
121248,[Not Applicable],[Not Applicable],[Not Applicable],Reno,Nevada,Northwest
121249,[Not Applicable],[Not Applicable],[Not Applicable],Redmond,Washington,Northwest
121250,[Not Applicable],[Not Applicable],[Not Applicable],Puyallup,Washington,Northwest
121251,[Not Applicable],[Not Applicable],[Not Applicable],Puyallup,Washington,Northwest
121252,[Not Applicable],[Not Applicable],[Not Applicable],North Miami Beach,Florida,Southeast

In [24]:
data['СПР_Магазины'].groupby('Тип магазина').agg({'ИД Магазина': 'count'})

                      ИД Магазина
Тип магазина
Specialty Bike Shop           231
Value Added Reseller          238
Warehouse                     232
[Not Applicable]                1

In [25]:
data['СПР_товар']

,Ключ_номенклатура,Артикул,Номенклатура,"Закупка, руб",Цвет,Себестоимость,Модель,Субкатегория,Категория
0,210.0,FR-R92B-58,"HL Road Frame - Black, 58",868.6342,Black,1431.5000,HL Road Frame,Road Frames,Components
1,211.0,FR-R92R-58,"HL Road Frame - Red, 58",868.6342,Red,1431.5000,HL Road Frame,Road Frames,Components
2,212.0,HL-U509-R,"Sport-100 Helmet, Red",12.0278,Red,33.6442,Sport-100,Helmets,Accessories
3,213.0,HL-U509-R,"Sport-100 Helmet, Red",13.8782,Red,33.6442,Sport-100,Helmets,Accessories
4,214.0,HL-U509-R,"Sport-100 Helmet, Red",13.0863,Red,34.9900,Sport-100,Helmets,Accessories
...,...,...,...,...,...,...,...,...,...
392,602.0,BB-8107,ML Bottom Bracket,44.9506,NaN,101.2400,ML Bottom Bracket,Bottom Brackets,Components
393,603.0,BB-9108,HL Bottom Bracket,53.9416,NaN,121.4900,HL Bottom Bracket,Bottom Brackets,Components
394,604.0,BK-R19B-44,"Road-750 Black, 44",343.6496,Black,539.9900,Road-750,Road Bikes,Bikes
395,605.0,BK-R19B-48,"Road-750 Black, 48",343.6496,Black,539.9900,Road-750,Road Bikes,Bikes
396,606.0,BK-R19B-52,"Road-750 Black, 52",343.6496,Black,539.9900,Road-750,Road Bikes,Bikes